{% extends 'layout/layout.html' %}
{% block content %}
     <div class='container'>
          <div class='row'>
               <div class='col-xl-9 col-lg-12 col-md-12 col-sm-12'>
                    <!-- <div id="scene"> -->
                    <div class='sketch-container jumbotron text-center' id="scene" >
                    </div>
                    <!-- </div> -->

                    <input id="SketchText" type="hidden" value="Coding Complexity" />
                    <div class='pageContainer text-center'>
                         <h2>Coding Complexity</h2>
                         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                         <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance</p>
                    </div>
                    <div class='product-section-box row' id="productSection">
                         {% for product in homeData.productData%}
                              {% if product.productStatus == 1 %}
                                   <div class='col-xl-4 col-lg-4 col-md-4 col-sm-6 text-center mb-10' >
                                        <div class='product-tile' >
                                             <div class='tile-header'>
                                                  <h3>{{product.product_name}}</h3>
                                             </div>
                                             <div class='tile-sketch' id="{{product.homePageSketchId}}" >

                                             </div>
                                             <div class='tile-price-body'>
                                                  <div class='price-section'>
                                                       <span class='price'>${{product.product_price}}</span>
                                                  </div>
                                                  <div class='buy-section'>
                                                       <a href="/product/{{product.pageSlug}}" target='_blank' class='btn btn-primary btn-s'>More Info</a>
                                                  </div>
                                             </div>
                                             <div class='tile-details'>
                                                  <p class='productSortDescription'>{{product.product_sort_desc}}</p>
                                             </div>
                                        </div>
                                   </div>
                              {% endif %}
                         {%endfor%}
                    </div>
               </div>
               <div class='col-xl-9 col-lg-12 col-md-12 col-sm-12' id="productBenefits">
                    <div class='product-benefit-header text-center' >
                         <h2>Courses Include</h2>
                    </div>
                    <div class='product-benefit-box row'>
                         {% for benefit in homeData.productBenefits%}
                         <div class='col-xl-4 col-lg-4 col-md-4 col-sm-6 text-center mb-10' >
                              <div class='product-tile'>
                                   <div class='tile-header'>
                                        <img class='tile-header-img' src='static/assets/images/{{benefit.image_name}}' />
                                        <span class="header-title"><h3>{{benefit.benefit}}</h3></span>
                                   </div>
                                   <div class='tile-body'>
                                        <p>{{benefit.description}}</p>
                                   </div>
                              </div>
                         </div>
                         {% endfor %}
                    </div>
               </div>


          </div>
     </div>
     <!-- <script src="{{ url_for('static',filename='assets/js/homepageSketch.js')}}"></script> -->
{% endblock %}
