{% extends 'layout/layout.html' %}
{% block content %}
     <div class='container'>
          <div class='row'>
               <div class='col-xl-9 col-lg-12 col-md-12 col-sm-12'>
                    <div class='sketch-container jumbotron text-center' id="aboutUsScene" >
                    </div>
                    <div class='pageContainer text-center'>
                         <h2>About Us</h2>
                         <!-- <div class="row"><div class="tw-element divider-center tw-divider divider-minimal col-md-12" style="display:block;margin-bottom:40px;margin-top:40px;"><div style="background-color:#ededed;"></div></div></div> -->
                         <hr class="hrLine">
                         <p class='sort-about' >
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                         </p>
                         <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                         <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </p>
                    </div>
               </div>
          </div>
     </div>
{% endblock %}
