{% extends 'layout/layout.html' %}
{% block content %}
     <div class='container'>
          <div class='row'>
               <div class='col-xl-9 col-lg-12 col-md-12 col-sm-12'>
                    <div class='sketch-container text-center'>
                         <img class='product-header-img' src='{{ url_for('static',filename='assets/images/product.jpg')}}' />
                    </div>
                    <div class='col-xl-4 col-log-6 col-log-6 col-sm-9 product-details text-center' >
                         <div class='product-name' >
                              <h3>{{productDetails.product_name}}</h3>
                              <p class='sort-description' >
                                   {{productDetails.product_sort_desc}}
                              </p>
                              <div class='price-buy'>
                                   <div class='col-xl-6, col-lg-6, col-md-6 col-sm-6 product-priceDetails'>
                                        <p class='priceTag'> Price: $<span class='priceTag'>{{productDetails.product_price}}</span></p>
                                   </div>
                                   <div class='col-xl-6, col-lg-6, col-md-6 col-sm-6 product-buyButton'>
                                        <a href="{{productDetails.product_buy_url}}" target="_blank" class='btn btn-primary buyBtton'>Buy Now</a>
                                   </div>
                              </div>

                         </div>
                         <div class='product-description' >
                              <p>
                                   {{productDetails.product_desc}}
                              </p>
                         </div>
                         <div class='product-buy-button'>
                              <!--<a href="#" class='btn btn-primary product-buy-button'>Buy Now</a> -->
                         </div>
                    </div>
               </div>
          </div>
     </div>
{% endblock %}
