{% extends 'layout/layout.html' %}
{% block content %}
     <div class='container'>
          <div class='row'>
               <div class='col-xl-9 col-lg-12 col-md-12 col-sm-12'>
                    <div class='sketch-container text-center'>
                         <img class='product-header-img' src='{{ url_for('static',filename='assets/images/product.jpg')}}' />
                    </div>
                    <div class='col-xl-4 col-log-6 col-log-6 col-sm-9 product-details text-center' >
                         <div class='product-name' >
                              <h3>First Product Course for Learn Python</h3>
                              <p class='sort-description' >
                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                              </p>
                              <div class='price-buy'>
                                   <div class='col-xl-6, col-lg-6, col-md-6 col-sm-6 product-priceDetails'>
                                        <p class='priceTag'> Price: $<span class='priceTag'>100</span></p>
                                   </div>
                                   <div class='col-xl-6, col-lg-6, col-md-6 col-sm-6 product-buyButton'>
                                        <a href="#" class='btn btn-primary buyBtton'>Buy Now</a>
                                   </div>
                              </div>

                         </div>
                         <div class='product-description' >
                              <p>
                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                              </p>
                              <p>
                                   The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                              </p>
                         </div>
                         <div class='product-buy-button'>
                              <!--<a href="#" class='btn btn-primary product-buy-button'>Buy Now</a> -->
                         </div>
                    </div>
               </div>
          </div>
     </div>
{% endblock %}
