.navbar-default {
    background-color: #bfbfbf;
    border-color: #ffffff;
}
/* div#topheader {
    position: fixed;
    width: 100%;
    z-index: 2;
} */
#topheader .navbar-nav li > a {
	text-transform: capitalize;
	color: #1a1a1a;
	transition: background-color .2s, color .2s;
}

#topheader .navbar-nav li.active > a {
     background-color: #fff;
     color: #333333;
}
img.header-logo {
     width: 155px;
     margin-top: -8px;
}
html,body {
  scroll-behavior: smooth;
}

body{
     font-size: 16px;
     line-height: 1.5;
}

.pageContainer{
     padding-top: 10px;
     padding-bottom: 10px;
     margin-bottom: 30px;
     color: inherit;
     background-color: #ffffff;
}

.sketch-container.jumbotron, .tile-sketch.jumbotron{
    margin-bottom: 0px;
   /* margin-top: 20px; */
}

.product-section-box.row, .product-benefit-box.row {
    display: flex;
    flex-wrap: wrap;
}
.mb-10 {
    margin-bottom: 20px;
}
.product-tile {
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
    border: 1px solid #b7b6b6;
    width: 100%;
    padding: 2px 12px;
    border-radius: 8px;
    height: 100%;
}
.product-tile:hover{
     box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.5);
     border-radius: 8px;
}
.price-section, .buy-section {
    width: 50%;
    /*float: left; */
    font-size: 18px;
}
.tile-price-body {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
img.tile-header-img {
    width: 100%;
}
.tile-header {
    margin: 10px 0px;
    min-height: 78px;
    height: auto;
}
.product-benefit-header {
    margin: 15px 0px;
}
p.productSortDescription {
    font-size: 14px;
}
img.tile-header-img {
    height: 200px;
}



img.product-header-img { width: 100%; max-height: 420px; }
.sketch-container.text-center { width: 100%; max-height: 420px; box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2); margin-top: 15px; }
.sort-description{ font-size:14px; }
.priceTag {
    font-size: 24px;
    font-weight: 400;
}
.btn.buyBtton{padding:8px 26px; font-size: 19px; font-weight: 600;}
.price-buy, .product-description { margin-top: 15px; }

@media (min-width: 768px){
     .col-xl-4.col-log-6.col-log-6.col-sm-9.product-details {
          position: relative;
          left: 12%;
          margin-top: -50px;
          z-index: 2;
          background-color: #fff;
          border: 1px solid #d8d4d4;
          box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.3)
     }
     .product-description {
         margin-top: 70px;
     }
}


.footer-bottom {
    background-color: #bfbfbf;
    min-height: 30px;
    width: 100%;
    margin-top: 50px;
}
.copyright {
    color: #1a1a1a;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #1a1a1a;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}


/************************************************************
************************Footer*****************************
*************************************************************/
