
<!--header-->

<div class="footer-bottom">
     <div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                    <!-- <div class='footer-logo'> -->
                    <a class="navbar-brand" href="/"><img class='header-logo' src='{{ url_for('static',filename='assets/images/coding-complexity-full-logo.svg')}}' /></a>
               </div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                    <div class="copyright">

					© 2020, Coding Complexity LLC, All rights reserved

				</div>

			</div>

		</div>

	</div>

</div>
