{% block header %}
<!--Main Navigation-->
<div id="topheader">
  <nav class="navbar navbar-default">
		<div class="container-fluid">
			 <div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="/"><img class='header-logo' src='{{ url_for('static',filename='assets/images/coding-complexity-full-logo.svg')}}' /></a>
			 </div>
			 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav navbar-right">
                           <li {%- if request.path == "/" %} class="headerLinks active homepageLink" {% else %} class="headerLinks" {% endif%} ><a href="/">home</a></li>
                           <li {%- if request.path == "/about-us" %} class="headerLinks active" {% else %} class="headerLinks" {% endif%} ><a href="/about-us">About Us</a></li>
                           {%- if request.path == "/" %}
                           <li class="headerLinks" id="productLink" ><a href="#productSection">Products</a></li>
                           <li class="headerLinks" id="benefitLink" ><a href="#productBenefits" >Benefits</a></li>
                           {%endif%}
				  </ul>
			 </div>
		</div>
  </nav>
</div>
<!--Main Navigation-->
{% endblock %}
