<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/lib/css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/home.css')}}">

</head>
<body>
<!-- Header Section -->
{% include "element/header.html" %}
{% block header %}
{% endblock %}
<!-- Header Section -->
{% block content %}
{% endblock %}
<!-- Footer Section -->
{% include "element/footer.html" %}
{% block footer %}
{% endblock %}
<!--Footer Section!-->
<script src="{{ url_for('static',filename='assets/lib/js/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='assets/lib/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='assets/js/custom.js')}}"></script>
<script src="{{ url_for('static',filename='assets/js/p5.js')}}"></script>
{%- if request.path == "/" %}
    <script src="{{ url_for('static',filename='assets/js/homepageSketch.js')}}"></script>
{%endif%}
</body>
</html>
